* {
    
     
    font-family: 'Avenir Black', 'Arial Black', sans-serif;
  }
  html  {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
body {

  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
height: 100%;
}


#contact {

  clear: both;
  position: relative;
  background-color: #ffffff;
  width: 960px;
  display: inline-block;
  height: 300px;
  margin-top: 30px;
  padding: 20px;


}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#contact {

  clear: both;
  position: relative;
  background-color: #ffffff;
  width: 960px;
  display: inline-block;
  height: auto;
  margin-top: 30px;
  padding: 20px;


}

#contact2 {

  clear: both;
  position: relative;
  background-color: #ffffff;
  width: 960px;
  display: inline-block;
  height: autopx;
  margin-top: 30px;
  padding: 20px;


}

#page-footer {

  
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: #333333;
  padding: 10px;



}

#fname {

   width: 100%;
}

#lname {

  width: 100%;
}

#subject {

  width: 100%;
  
}


